<nav class="nav-panel">
    <div class="container">
        <div class="row">

            <div class="col nav-head">
                <a href='/'>
                    <span>Home</span>
                </a>

            </div>

            <div class="col nav-head">
                <a href='/upload'>
                    <span>Upload</span>
                </a>
            </div>

        </div>
    </div>
</nav>