<form action='/upload' method='POST' enctype="multipart/form-data">
    <div class="container">
        <div class="row title-text-upload">
            <label class="submit-label">
                <input type="file" name="image">
                <h2 class='title-text-upload'>Click here to upload</h2>
            </label>
        </div>
        <div class="row submit-button">
            <input type="submit" value="" id="submit-button">
        </div>
    </div>
</form>