#logo-img{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

a:link{
    text-decoration: none;
}
span{
    color: black;
}
span:hover{
    color: rgb(0, 131, 254);
}

.nav-head{
    display: flex;
    color: black;
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    font-size: 30px;
    border: 5px solid black;
    border-radius: 25px;
    align-items: center; 
    justify-content: center;
    margin: 5px;
}

.title-text{
    display: flex;
    color: rgb(0, 0, 0);
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    font-size: 30px;
    align-items: center; 
    justify-content: center;
    margin-top: 75px;
}