#logo-img{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

a:link{
    text-decoration: none;
}
span{
    color: black;
}
span:hover{
    color: rgb(186, 186, 248);
}

.nav-head{
    display: flex;
    color: black;
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    font-size: 30px;
    border: 1.5px solid black;
    border-radius: 25px;
    align-items: center; 
    justify-content: center;
    margin: 5px;
}

.title-text{
    display: flex;
    color: rgb(0, 0, 0);
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    font-size: 30px;
    align-items: center; 
    justify-content: center;
    margin-top: 75px;
}

.title-text-upload{
    display: flex;
    color: rgb(0, 0, 0);
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    font-size: 30px;
    align-items: center; 
    justify-content: center;
    margin-top: 75px;
}

.title-text-upload:hover{
    color: rgb(186, 186, 248);
}

input[type="file"]{
    display: none;
}

.submit-div{
    display: flex;
    align-items: center; 
    justify-content: center;
}

.submit-label{
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 150px;

}

.submit-button{
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: auto;
}

#submit-button{
    margin-top: 30px;
    border-radius: 25px;
    width: 150px;
    height: 70px;
    background-color: rgb(186, 186, 248);
}

.image-gallery{
    margin-top: 30px;
}